body {margin:0;}

h1{
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

h2{
    font-family: "Fira Sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    border: 1px solid black;
  }
  
li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: rgb(75, 75, 75);
    color: white;
  }

.active {
    background-color: white;
    color: black;
  }